<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jupiter.androidstudyapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gettingstarted.launchanotheractivity.DisplayMessageActivity" />
        <activity android:name=".gettingstarted.launchanotheractivity.LaunchAnotherActivity" />
        <activity android:name=".gettingstarted.fragmentdemo.FragmentDemoActivity" />
        <activity android:name=".gettingstarted.savingdata.SavingDataDemoActivity" />
        <activity android:name=".gettingstarted.savingdata.keyvaluesets.SavingKeyValueSetsActivity" />
        <activity android:name=".gettingstarted.savingdata.keyvaluesets.SavingKeyValueSetsDisplayActivity" />
        <activity android:name=".gettingstarted.savingdata.savingfiles.internalstorage.SavingOnInternalStorageActivity" />
        <activity android:name=".gettingstarted.savingdata.savingfiles.SavingFileActivity" />
        <activity android:name=".gettingstarted.savingdata.savingfiles.internalstorage.SavingOnInternalFileActivity" />
        <activity android:name=".gettingstarted.savingdata.savingfiles.internalstorage.SavingOnCacheFileActivity" />
        <activity android:name=".gettingstarted.savingdata.savingfiles.externalstorage.SavingOnExternalStoargeActivity" />
        <activity android:name=".gettingstarted.savingdata.savingdatabases.SavingDatabaseActivity" />
        <activity android:name=".gettingstarted.savingdata.savingdatabases.DatabaseDisplayActivity" />
        <activity android:name=".gettingstarted.interactingwithotherapps.InteractingWithOtherAppsActivity" />
        <activity android:name=".gettingstarted.interactingwithotherapps.sendingusertoanotherapps.SendingUserToAnotherAppActivity" />
        <activity android:name=".gettingstarted.interactingwithotherapps.getingresultfromotherapps.GettingResultFromOtherAppActivity" />
        <activity android:name=".gettingstarted.interactingwithotherapps.allowotherappstartthisactivity.AllowOtherAppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".buildingappswithcontentsharing.sharingsimpledata.SharingSimpleDataActivity" />
        <activity android:name=".buildingappswithcontentsharing.sharingsimpledata.sendingsimpledatatootherapps.SendingSimpleDataToOtherAppsActivity" />
        <activity android:name=".buildingappswithcontentsharing.sharingsimpledata.receivingsimpledatafromotherapps.ReceivingSimpleDataFromOtherAppsActivity" />
        <activity android:name=".buildingappswithcontentsharing.sharingsimpledata.addinganeasyshareaction.AddingAnEasyShareActionActivity"></activity>
    </application>

</manifest>